/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .red
{
    color: #A41034;
}

/* Colors for buttons */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited 
{
    background-color: #A41034 !important;
    border: #A41034 !important;
}