{% extends "layout.html" %}

{% block title %}
    Admin
{% endblock %}

{% block main %}
    <form action="/admin" method="post">
        <button class="btn btn-primary" type="submit">Create New Class</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Code</th>
                    <th class="text-start">Name</th>
                </tr>
            </thead>
           <tbody>
            {% for class in class %}
                    <tr>
                        <td class="text-start">{{ class["code"] }}</td>
                        <td class="text-start">{{ class["name"] }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}