{% extends "layout.html" %}

{% block title %}
    Admin
{% endblock %}

{% block main %}
    <form action="/admin" method="post">
        <button class="btn btn-primary" type="submit">Create New Class</button>
    </form>

    <h2>
        Or
    </h2>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Code</th>
                <th class="text-start">Name</th>
                <th class="text-start">Edit</th>
            </tr>
        </thead>
        <tbody>
        {% for class in classes %}
                <tr>
                    <td class="text-start">{{ class["code"] }}</td>
                    <td class="text-start">{{ class["name"] }}</td>
                    <td class="text-start"><a href="/edit">Edit</a></td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}