{% extends "layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block main %}
    <table class="table">
        <!-- Table labels PSET name, PSET description, and change as columns -->
        <thead>
            <tr>
                <th class="text-start">PSET Name</th>
                <th class="text-start">PSET Description</th>
                <th class="text-start">Change</th>
            </tr>
        </thead>

        <!-- For each PSET, the name, description, and an update and delete button are shown on the table-->
        <tbody>
            {% for pset in psets %}
                <tr>
                    <td class="text-start">{{ pset.name }}</td>
                    <td class="text-start">{{ pset.description }}</td>
                    <td class="text-start">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2">
                                    <button class="btn btn-primary update pset-id-{{ pset.id }}">Update</button>
                                </div>
                                <div class="col-sm-2">
                                    <form action="/edit" method="POST">
                                        <input type="hidden" name="method" value="delete" />
                                        <input type="hidden" name="id" value="{{ pset.id }}" />
                                        <input type="hidden" name="code" value="{{ code }}" />
                                        <button class="btn btn-primary" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr hidden class="form-pset-id-{{ pset.id }}">
                    <form action="/edit" method="POST">
                        <input type="hidden" name="method" value="update" />
                        <input type="hidden" name="id" value="{{ pset.id }}" />
                        <input type="hidden" name="code" value="{{ code }}" />
                        <td class="text-start">
                            <input autocomplete="off" class="form-control" id="name" name="name" placeholder="Updated PSET Name" type="text">
                        </td>
                        <td class="text-start">
                            <input autocomplete="off" class="form-control" id="description" name="description" placeholder="Updated PSET Description" type="text">
                        </td> 
                        <td class="text-start">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary confirm" type="submit">Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    

    <!-- Form to add a PSET asks for the new PSET name and description -->
    <form action="/edit" method="POST">
        <input type="hidden" name="method" value="create" />
        <input type="hidden" name="code" value="{{ code }}" />
        <div class="container p-3">
            <div class="row">
                <div class="form-group col-sm-6">
                    <input autocomplete="off" class="form-control" id="name" name="name" placeholder="New PSET Name" type="text">
                </div>
                <div class="form-group col-sm-6">
                    <input autocomplete="off" class="form-control" id="description" name="description" placeholder="New PSET Description" type="text">
                </div>
            </div>
        </div>
    
        <!-- Add PSET button submits the form -->
        <button class="btn btn-primary" type="submit">Add PSET</button>
    </form>

    <script>
        // get update buttons
        let updateButtons = document.getElementsByClassName("update");

        // handle update by revealing the corresponding update form
        function handleUpdate(event) {
            let target = event.target;
            let classes = target.className.split(' ');
            let psetClass = classes[classes.length - 1];
            let updateForm = document.getElementsByClassName("form-" + psetClass)[0];
            updateForm.hidden = false;
        }

        // add listener to update buttons
        for (const updateButton of updateButtons) {
            updateButton.addEventListener('click', handleUpdate);
        }
    </script>
{% endblock %}