{% extends "layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block main %}
<ol>
    {% for pset in psets %}
            <h3>
                <li class="text-start">{{ pset["name"] }} </li>
            </h3>
            <button class="btn btn-primary" type="submit" id="edit-pset">Edit</button>
            <button class="btn btn-primary" type="submit" id="delete-pset">Delete</button>
    {% endfor %}
</ol>
    <button class="btn btn-primary" type="submit" id="add-pset">Add PSET</button>
{% endblock %}