{% extends "layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block main %}
    {% for pset in psets %}
        <ol>
            <li> class="text-start">{{ pset["name"] }} </li>
            <li> class="text-start">{{ pset["description"] }} </li>
            <form action="/edit" method="post">
                <button class="btn btn-primary" type="submit" id="edit-pset">Edit</button>
                <button class="btn btn-primary" type="submit" id="delete-pset">Delete</button>
            </form>
        </ol>
    {% endfor %}
    <button class="btn btn-primary" type="submit" id="add-pset">Add PSET</button>
{% endblock %}