{% extends "layout.html" %}

{% block title %}
    User Dashboard
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Class Code</th>
                <th class="text-start">Class Name</th>
                <th class="text-start">View Stats</th>
            </tr>
        </thead>

        <tbody>
            {% for class in classes %}
                <tr>
                    <td class="text-start">{{ class.name }}</td>
                    <td class="text-start">{{ class.symbol }}</td>
                    <button class="btn btn-primary" type="submit">View</button>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}